/*body {
  text-transform: uppercase;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 1200px;
  height: 100%;
}*/

/* Навигация */
/*.site-navigation {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: #cccccc;
}
.site-navigation a:visited {
  color: #766357;
}*/

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.sort-types {
  font-size: 12px;
  line-height: 18px;
}

.filters a {
  color: #cacaca;
}
.filters a:hover,
.filters a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.filters a:active {
  color: #000000;
}
.filters a:visited {
  color: #81b3d2;
}

/* Форма поиска гостиниц */
.form-filter {
  background: #ffffff url("../img/background-form-hotels.jpg");
  height: 220px;
}
.form-filter form {
  width: 100%;
}
.form-part {
  display: inline-block;
}
.form-filter fieldset {
  display: inline-block;
  border: 0;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
  legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.form-filter ul {
  padding: 0;
  margin: 0;
}
.form-filter li {
  list-style-type: none;
}

/* Cтили для ползунка */
.range {}
.range-selector {}
.range-active {}

/* Результаты поиска */
.hotels {}

.hotel {}

.hotel-img {}

.hotel-info {}

.hotel-info h3>a {
  color: #000000;
}
.hotel-info h3>a:hover {
  color: #81b3d2;
}

.hotel-innerwrap {}

.hotel-type,
.hotel-price {
  font-size: 14px;
  line-height: 21px;
}

.hotel-buttons {}

.more-info {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 10px;
}

a.more-info:hover,
a.more-info:focus {
  background-color:#669ec0;
  color: #ffffff;
}
a.more-info:active {
  background-color:#5496bd;
  color:#7aadcb;
}

.book {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 10px;
}
a.book:hover,
a.book:focus {
  background-color:#604e43;
  color: #ffffff;
}
a.book:active {
  background-color:#503e33;
  color:#857871;
}

.hotel-rating {
    /*border: 1px solid black;*/
    width: 110px;
}

.hotel-rating-stars {
  background: #ffffff url("../img/star.svg");
  margin-left:auto;
  margin-right:0;
}
.four-stars {
  height: 17px;
  width: 72px;
}
.three-stars {
  height: 17px;
  width: 54px;
}
.two-stars {
  height: 17px;
  width: 36px;
}
.hotel-rating-label {
  margin-top: 20px;
  font-size: 14px;
  background-color: #f2f2f2;
  height: 27px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
}

/* Стили для футера */
.social-networks li {
  background-color: #81b3d2;
  width: 46px;
  height: 46px;
  line-height: 46px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
