html {
  box-sizing: border-box;
}
html * {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Стили для оберток */
.wrapper {
  width: 1200px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow:
  -3px 0 15px rgba(0,0,0,0.1),
   3px 0 15px rgba(0,0,0,0.1);
}
.welcome-page {
  background: #ffffff url("../img/background.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.hotels-page {
  background: #ffffff url("../img/background-form-hotels.jpg");
  background-repeat: no-repeat;
}
.hello {
  position: relative;
  height: 510px;
  padding-top: 76px;
}
.hello::after {
  background-image: url("../img/polygon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 59px;
  content: "";
}
.hello img {}

/* Навигация */
.main-header nav {
  background-color: #ffffff;
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
}
.main-header nav ul:last-child {
  text-align: right;
}
.site-navigation {
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 56px;
  font-weight: bold;
  /*width: 458px;*/
  padding: 0;
  vertical-align: middle;
  margin: 0;
}
.site-navigation li {
  width: 240px;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: #cccccc;
}
.site-navigation a:visited {
  color: #766357;
}
.navigation-logo {
  position: relative;
  width: 94px;
}
.navigation-logo img {
  position: absolute;
  left: -23px;
}


/* Приветствие на первой странице */
img.welcome-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
}
img.polygon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Заголовок на первой странице */
.main-title {
  background-color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}
.main-title h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-bottom: 28px;
  vertical-align: middle;
}
.main-title p {
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  margin: 0;
}

/****** Сетка первой страницы *****/
.container-grid {
  min-width: 1200px;
  min-height: 1100px;
}
.row {
  display:flex;
  justify-content: space-between;
  margin:0px;
  padding:0px;
}

.col-1-3 {}

.col-2-3 {
  width:800px;
  height:256px;
  text-align: center;
}

/* Голубая ячейка */
.colblue {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 58px;
}
.colblue h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 26px;
  margin-top: 0;
}
.colblue p,
.colblue span {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 23px;
  font-weight: lighter;
}
.colblue p {
  margin-top: 22px;

}
/* Белая ячейка */
.colwhite {
  width: 400px;
  height: 330px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 83px;
}
.colwhite h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 26px;
}
.colwhite p,
.colwhite span {
  font-size: 14px;
  line-height: 21px;
}

/* Серая ячейка */
.colgrey  {
  width: 400px;
  height: 256px;
  font-size: 14px;
  line-height: 21px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 57px;
}
.colgrey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 26px;
  margin-top:0;
}
.colgrey p {
  margin-top: 22px;

}
/* Форма поиска на первой странице */
.search-container {
  position: relative;
}

.search-map {
  border: 0;
}

.search-title {
  text-align: center;
  height: 291px;
  padding-top: 51px;
}
.search-title p:first-child {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 0;
}
.search-title p:last-child {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 50px;
}

.search-map {}

.search-form {
  width: 568px;
  top: 204px;
  left: 316px;
  position: absolute;
  background-color: white;
  padding: 0;
}
.search-form h3 {
  font-size: 21px;
  min-height: 86px;
  line-height: 86px;
  background-color: #766357;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.search-form-close {
/*.search-form form {*/
  display: none;
  text-align: left;
  padding: 55px;
  box-shadow:
  -3px 0 15px rgba(0,0,0,0.1),
   3px 0 15px rgba(0,0,0,0.1);
}
.search-form-open {
  display: block;
}
.search-form label {
  font-size: 14px;
  line-height: 38px;
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
}

.search-form-button {
 width:568px;
 font-size: 21px;
 min-height: 86px;
 line-height: 86px;
 background-color: #766357;
 font-weight: bold;
 color: #ffffff;
 text-transform: uppercase;
 padding: 0;
 border: 0;
 outline: 0;
}
.search-form-button:focus,
.search-form-button:hover {
  background-color: #604e43;
  color: #ffffff;
}
.search-form-button:active {
  background-color: #503e33;
  color: #857871;
}


.search-fields {
  min-height: 173px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 54px;
}

.search-row {
  display: flex;
  justify-content: space-between;
}

.search-col1 {}
.search-col2 {
  width: 346px;
}

.search-fields input {
  min-height: 38px;
  height: 38px;
  line-height: 34px;
  background-color: #f2f2f2;
  vertical-align: middle;
  outline: 0;
  padding: 0;
  border: 0;
  font-weight: bold;
}

.quantity-input input {
  text-align: center;
  width: 38px;
}

.calendar-input {
  position: relative;
}
.calendar-input input {
  border: 2px solid #f2f2f2;
  width: 100%;
  padding-left: 11px;
}
.calendar-input input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.calendar-input input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.button-calendar {
  width: 21px;
  height: 22px;
  background: url("../img/calendar.png") center;
  border: none;
  background-size: cover;
  text-indent: 200px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 8px;
}
.button-calendar:hover {
  width: 21px;
  height: 22px;
  background: url("../img/calendar-black.png") center;
  border: none;
  background-size: cover;
  text-indent: 200px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 8px;
}
.button-calendar:active {
  width: 21px;
  height: 22px;
  background: url("../img/calendar-blue.png") center;
  border: none;
  background-size: cover;
  text-indent: 200px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 8px;

}
.adults-children-quantity {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.adults-children-quantity label {
  padding-left: 25px;
}
.quantity-input {
  display: flex;
  flex-direction: row;
}
.minus,
.plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: relative;
  padding: 0;
  border: 0;
  outline: 0;
}
.minus::before {
  content: "";
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
}
.minus:hover::before,
.minus:focus::before {
  background-image: url("../img/minus-black.png");
}
.minus:active::before {
  background-image: url("../img/minus-blue.png");
}

.plus::after {
  content: "";
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  right: 0;
}
.plus:hover::after,
.plus:focus::after {
  background-image: url("../img/plus-black.png");
}
.plus:active::after {
  background-image: url("../img/plus-blue.png");
}

.search-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 58px;
  background-color: #81b3d2;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  padding:0px;
  border: none;
  outline: 0;
}
.search-button:focus,
.search-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}
.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

/* Футер */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 128px;
  width: 100%;
}
.welcome-page .footer {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 0;
}
.hotels-page .footer {
  background-color: #fefefe;
}

.tag {
  margin-left: 133px;
  margin-right: 253px;
  margin-bottom: 5px;
  font-size: 21px;
  min-height: 49px;
  line-height: 49px;
  font-weight: 700;
  color: #000000;
  vertical-align: middle;
}
.social-networks {
  display: flex;
  margin-right: 225px;
  padding: 0px;
}
.social-networks li {
  background-color: #81b3d2;
  width: 46px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 6px;
  list-style-type: none;
}
.social-networks li:hover,
.social-networks li:focus {
  background-color: #669ec0;
}
.social-networks li:active {
  background-color: #5496bd;
}

.social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.social-networks:active path {
  fill: #88b6d1;
}

.logo-html {
  display: flex;
  margin-right: 100px;
  min-height: 49px;
  align-items: center;
}
.logo-html p {
  margin-right: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 49px;
  color: #000000;
  flex-shrink: 0;
  vertical-align: middle;
}
.logo-html a {
  background: url("../img/logo-black.png") no-repeat;
  display: block;
  width: 115px;
  height: 49px;
}
.logo-html a:hover {
  background: url("../img/logo-blue.png") no-repeat;
}
.logo-html a:active {
  background: url("../img/logo-gray.png") no-repeat;
}

/************** HOTELS PAGE CSS ******************/

/* Сетка второй страницы */
.hotels-row {
  display:flex;
  /*justify-content: space-between;*/
  padding-right: 73px;
  padding-left: 73px;
  border-bottom: 1px solid #e5e5e5;
}
.hotels-col1 {
  width:165px;
}
.hotels-col2 {
  width:652px;
}
.hotels-col3 {
  width: 239px;
}

/* Фильтр гостиниц */
.filter-form {
  height: 217px;
  /*justify-content:space-around;*/
  padding-top: 28px;
  padding-bottom: 28px;
}
.filter-form-col-1 {
  width: 261px;
}
.filter-form-col-1 li {
  margin-bottom: 21px;
}
.filter-form-col-1 input[type="checkbox"],
.filter-form-col-2 input[type="checkbox"] {
  display: none;
}
.filter-form-col-1 label,
.filter-form-col-2 label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
.filter-form-col-1 label:before,
.filter-form-col-2 label:before {
  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  border-image: initial;
  vertical-align: middle;
}
input:checked + label:before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-form-col-1 legend,
.filter-form-col-2 legend {
  margin-bottom: 23px;
}
.filter-form-col-2 {
  width: 288px;
}
.filter-form-col-2 li{
  margin-bottom: 21px;
}
.filter-form-col-3 {
  width: 528px;
  padding-left: 202px;
}
.filter-form-col-3 legend {
  margin-bottom: -12px;
}
.filter-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
.price-controls {
  position: relative;
  height: 35px;
  font-size: 14px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.price-controls label {
  width: 100%;
}
.price-controls .min-price {
  padding-left: 65px;
}
.price-controls .max-price {
  padding-left: 50px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: 0;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter-form ul {
  padding: 0;
  margin: 0;
}
.filter-form li {
  list-style-type: none;
}
.filter-form label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.filter-button {
  width: 135px;
  height: 36px;
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0;
  display: block;
  /*margin: 0 auto;*/
  margin-left: 87px;
  padding: 7px 37px 5px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.filter-button:hover {
  color: #000000;
  background: #ffffff;
}
/* Cтили для ползунка */
.range-controls {
  position: relative;
  margin-bottom: 33px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 22px;
  cursor: pointer;
  background-image: url("../img/filter-button.png");
}
.range-toggle:hover {
  background-image: url("../img/filter-button-big.png");
  width: 22px;
  height: 24px;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}

/* Сортировка гостиниц */

.filter-toolbar {
  min-height: 87px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  align-items: center;
  background-color: #fefefe;
}
.filter-toolbar .result {
  margin-top: 2px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.filter-toolbar .sort {
  margin-top: 4px;
}
.sort span.sort-type {
  margin-right: 36px;
}
.sort a {
  margin-right: 31px;
}
.sort a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}
.sort a:hover,
.sort a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.sort a:active {
  color: #000000;
  border-bottom: 1px dashed #ffffff;
}
.sort a:visited {
  color: #81b3d2;
  border-bottom: 1px dashed #ffffff;
}

.filter-toolbar .sort-direction {
  margin-top: 4px;
  text-align: right;
}
.sort-direction button {
  width: 11px;
  height: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
}
.asc {
  background-image: url("../img/icon-up-dir.png");
}
.asc:hover {
  background-image: url("../img/icon-up-dir-black.png");
}
.asc:active {
  background-image: url("../img/icon-up-dir-blue.png");
}
.desc {
  background-image: url("../img/icon-down-dir.png");
  margin-left: 8px;
}
.desc:hover {
  background-image: url("../img/icon-down-dir-black.png");
}
.desc:active {
  background-image: url("../img/icon-down-dir-blue.png");
}




/* Результаты поиска */
.search-result {
  background-color: #fefefe;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 151px;
  height: 151px;
}
.hotel-image {}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hotel-title {
  font-size: 21px;
  font-weight: bold;
  min-height: 25px;
  line-height: 25px;
  vertical-align: top;
  margin-top: -4px;
}
.hotel-title a {
  color: #000000;
}
.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-innerwrap {
  display: flex;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 21px;
}
.hotel-type {
  min-width: 115px;
}
.hotel-price {
  min-width: 144px;
}
.hotel-buttons {
  overflow: hidden;
  min-height: 27px;
  line-height: 27px;
}
.hotel-buttons a {
  color: #ffffff;
  padding: 5px 17px;
  margin-right: 2px;
}
a.more-info {
  background-color: #81b3d2;
}
a.more-info:hover,
a.more-info:focus {
  background-color:#669ec0;
}
a.more-info:active {
  background-color:#5496bd;
  color: rgba(255, 255, 255, 0.3);
}
a.book {
  background-color: #766357;
}
a.book:hover,
a.book:focus {
  background-color:#604e43;
}
a.book:active {
  background-color:#503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.hotel-rating-stars {
  background: #ffffff url("../img/star2.png");
  margin-left: auto;
  margin-right: 0px;
}
.four-stars {
  height: 17px;
  width: 92px;
}
.three-stars {
  height: 17px;
  width: 69px;
}
.two-stars {
  height: 17px;
  width: 46px;
}
.hotel-rating-label {
  font-size: 14px;
  background-color: #f2f2f2;
  color: #666666;
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 0;
  padding-left: 14px;
  padding-right: 13px;
}
