.wrapper {
  background: #ffffff url("../img/background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 100%;
  overflow: hidden; /* без этого не работает margin-top у welcome-img, что-то связанное с Margin Collapse */
}
.body {
  text-transform: uppercase;
}
.main-title {
  font-size: 21px;
  line-height: 26px;
  background-color: white;
}
.site-navigation {
  list-style: none;
}
a {
  text-decoration: none;
}
.site-navigation a {
  color: black;
}
.site-navigation a:hover {
  color:#81b3d2;
}
.site-navigation a:visited {
  color: #bdbbbc;
}
.reasons {
  color:#414141;
  font-size: 14px;
  line-height: 21px;


}
img.welcome-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
}

img.polygon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.container-grid {}

.row {}

.col-1-3 {}

.col-2-3 {}

.colblue {
  display:inline-block;
  width:256px;
  height:256px;
  background-color: #81b3d2;
  color: #ffffff;
}

.social-networks li {
  background-color: #81b3d2;
  width: 46px;
  height: 46px;
  line-height: 46px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
